html {
    background-image: linear-gradient(#fc5e55, #fa4083);
}

body {
    background-image: url(images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

a {
    color: white;
    text-decoration: none;
}

.container {
    width: 1024px;
    min-height: 300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}

main {
    min-height: 300px;
    display: flex;
    align-items: center;
}

.herobox1 {
    flex: 2;
    padding-right: 100px;
}

.herobox2 {
    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

p {
    line-height: 1.75rem;
    margin-bottom: .5rem;
}

.mybutton {
    color: #fc5e55;
    background-color: white;
    font-family: 'playfair Display', serif;
    border-radius: 2px;
    padding: 10px 25px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.mybutton:hover {
    background-color: mediumseagreen;
    transition-duration: 1s;
}

.navbutton {
    padding: 10px 20px;
    border: 1px solid white;
    font-family: 'playfair Display', serif;
    display: inline-block;
    position: relative;
}

a.mybutton {
    display: inline-block;
    margin-top: 10px;
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
}

.dropdown .navbutton {
    width: 120px;
    background-color: white;
}

.dropdown .navbutton a {
    color: #fa4083;
}

.navbutton:hover .dropdown {
    display: block;
}

.cards {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card1 {
    min-height: 250px;
    width: 30%;
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card2 {
    min-height: 250px;
    width: 30%;
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card3 {
    min-height: 250px;
    width: 30%;
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card1, .card2, .card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-top: 20px;
}

.cards p {
    font-size: .85rem;
    line-height: 1.2rem;
    margin-top: 10px;
}

.cards i {
    font-size: 100px;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 100px;
}

.tbox {
    width: 45%;
    padding: 50px;
    margin-top: 50px;
    border: 1px solid white;
    box-sizing: border-box;
}

.tbox p:last-of-type {
    font-size: .8rem;
    padding-left: 30px;
}

.main2 {
    min-height: 300px;
    padding-top: 50px;
}

.inputwrapper {
    margin-bottom: 30px;
}

input[type=text], input[type=email], textarea {
    padding: 10px 20px;
    width: 100%;
    font-family: 'Robot', sans-serif;
    font-size: 0.85rem;
    box-sizing: border-box;
}

.newline {
    display: block;
    margin-bottom: 10px;
}

.margin-rigt-a {
    margin-right: 20px;
}

input[type=radion] {
    margin-right: 10px;
}

form {
    margin: 40px 0px;
}